li.list-group-item {
    background: rgb(132, 191, 241);
    margin-bottom: 10px;
    width: 60%;
}
.right{
    margin-left: auto;
}
.left{
    margin-right: auto;
}
.list-group-flush {
    padding: 10px;
}
ul#user {
    list-style: none;
    padding: 0;
}
/* ul#message-list{
    padding: 5px;
    overflow-y: scroll;
    height: 400px;
}
ul#message-list::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #c4c4c4;
}
ul#message-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #464646;
}
ul#message-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #c4c4c4;
} */
ul#message-list{
    height: 450px;
    overflow-y: auto;
}
.list-item-header {
    color: floralwhite;
    font-size: 14px;
}
.list-item-body {
    font-size: 18px;
    font-weight: 600;
}